.index{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    .content{
        width: 100%;
    }

    .avatar{
        display: block;
        margin: 200rpx auto;
        width: 150rpx;
        height: 150rpx;
        border-radius: 50%;
    }
}