.index{
    width: 100vw;
    height: 100vh;
    padding: 20rpx;
    box-sizing: border-box;
    background-color: #edf1f7;
    overflow: scroll;
    
    .content{

        .item{
            margin: 20rpx;
        }
    }

    .icon-add{
        display: block;
        position: fixed;
        bottom: 40rpx;
        right: 40rpx;
        width: 100rpx;
        height: 100rpx;
    }
}